.button-genre-add-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.button-genre-add-wrapper button:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  border: 1px solid var(--Orange-4-default);
  border-radius: 8px;
  background: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  color: var(--Orange-4-default);
  margin-right: 24px;
  cursor: pointer;
}
.button-genre-add-wrapper button:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  background: var(--Orange-4-default);
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #ffffff;
  cursor: pointer;
}

.input-genre-table-1 {
  height: 36px;
  background-color: transparent;
  border: 1px solid #727288;
  border-radius: 4px;
  padding: 8px 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.002em;
  color: rgb(255, 255, 255, 0.7);
}

.input-genre-table-2 {
  height: 36px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #727288;
  border-radius: 4px;
  padding: 8px 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.002em;
  color: rgb(255, 255, 255, 0.7);
}