.add-role-wrapper {
  width: 100%;
  max-height: 1080px;
  padding-top: 6px;
}

.add-role-location-wrapper {
  display: flex;
  align-items: center;
}

.add-role-location-wrapper p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: var(--text-stoke);
  opacity: 0.7;
}

.add-role-location-wrapper .add-role-content-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: var(--text-stoke);
  opacity: 0.7;
}

.add-role-location-wrapper .add-role-content-link:hover {
  color: var(--text-stoke);
  opacity: 0.7;

}

.add-role-location-wrapper .right-arrow-icon {
  margin: 0 4px;
}

.add-role-wrapper .add-role-header-content {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.002em;
  color: #e5e5e5;
  margin-top: 2px;
  margin-bottom: 52px;
}

.add-role-form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.add-role-col-left {
  max-width: 571px;
}

.add-role-col-left .input-wrapper {
  margin-bottom: 32px;
}

.add-role-col-left .input-wrapper p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
  margin-bottom: 8px;
}
.add-role-col-left .input-wrapper input[type="text"] {
  width: 557px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #727288;
  border-radius: 8px;
  padding: 12px 24px;
  caret-color: white;
  letter-spacing: 0.002em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-stoke);
}

.add-role-col-left .input-wrapper input[type="text"]:focus {
  border: none;
}

.add-role-col-left .input-wrapper textarea {
  width: 557px;
  height: 120px;
  background-color: transparent;
  border: 1px solid #727288;
  border-radius: 8px;
  padding: 12px 24px;
  caret-color: white;
  letter-spacing: 0.002em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-stoke);
  text-align: top;
}
.add-role-col-left .input-wrapper textarea:focus {
  outline: solid 1px var(--outline-input);
  border: none;
}

.table-add-role-wrapper {
  display: flex;
  height: 680px;
}

.add-role-col-right {
  height: 100%;
  margin-right: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
  margin-bottom: 14px;
}

.table-add-role-wrapper {
  background: rgba(47, 47, 65, 0.7);
  border-radius: 16px;
  padding: 16px 24px;
}

.table-role-col-left {
  display: flex;
  width: 225px;
  flex-direction: column;
  height: 100%;
}

.table-role-col-left p:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.002em;
  color: #ffac69;
  margin-bottom: 24px;
  margin-top: 8px;
}

.table-role-grouped {
  display: flex;
  align-items: center;
  width: 225px;
  height: 225px;
}

.table-role-col-left .table-role-grouped p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #ffffff;
  opacity: 0.7;
}

.table-group-row-1 {
    margin-bottom: 120px;
}

.table-role-col-left .table-group-row-1 {
  position: relative;
}

.table-role-col-left .table-group-row-1::after {
  position: absolute;
  content: "";
  top: 132%;
  width: 400%;
  height: 2px;
  background: #f5f5ff;
  opacity: 0.5;
}

.button-add-role-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.button-add-role-wrapper .btn-cancel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  border: 1px solid var(--Orange-4-default);
  border-radius: 8px;
  background: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  color: var(--Orange-4-default);
  margin-right: 24px;
  cursor: pointer;
}

.button-add-role-wrapper .btn-add-role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  background: var(--Orange-4-default);
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #ffffff;
  cursor: pointer;
}

/* Section css */

.ant-checkbox-wrapper {
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox {
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-checkbox:first-child .ant-checkbox-inner::after {
  width: 50%;
  height: 50%;
}
