.add-record-wrapper {
  width: 100%;
  max-height: 1080px;
  padding-top: 6px;
  padding-left: 50px;
  padding-right: 60px;
}

.add-record-wrapper .add-record-form-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.add-record-form-wrapper .input-wrapper {
  margin-bottom: 24px;
}

.add-record-form-wrapper .input-wrapper p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
  margin-bottom: 8px;
}

.add-record-form-wrapper .input-wrapper input {
  width: 422px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #727288;
  border-radius: 8px;
  padding: 12px 24px;
  caret-color: white;
  letter-spacing: 0.002em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-stoke);
}

.add-record-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.add-record-button-wrapper button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 168px;
  height: 48px;
  background: var(--Orange-4-default);
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #ffffff;
  cursor: pointer;
}


/* Select */

.select-add-record-wrapper .ant-select-arrow {
  color: var(--Orange-4-default) !important;
}

.select-add-record-wrapper .ant-select-arrow .anticon-down svg {
  width: 13px !important;
  height: 13px !important;
  stroke: solid 10px var(--Orange-4-default) !important;
  justify-self: flex-end !important;
}

.select-add-record-wrapper .ant-select-selector {
  background-color: #1e1e2e !important;
  border: 1px solid rgba(114, 114, 136) !important;
  height: 48px !important;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 16px !important;
}

.select-add-record-wrapper .ant-select-selector .ant-select-selection-item {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: rgba(245, 245, 255, 0.5) !important;
}

.select-add-record-wrapper .ant-select-dropdown-placement-bottomLeft {
  background-color: #3e3e5b !important;
}

.select-add-record-wrapper .ant-select-item-option-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #ffffff !important;
}

.select-add-record-wrapper .ant-select-item-option-selected {
  background: var(--background-bg-lighter) !important;
}
