.ant-table-row td:nth-child(4) {
  max-width: 173px;
}

.ant-table-row td:nth-child(5) {
  max-width: 450px;
}

.ant-table-row td .role-remove-item {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  text-decoration-line: underline;
  color: var(--red-error);
  margin: 0 50px;
  cursor: pointer;
}

.ant-table-row td .role-update-link-table {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center !important;
  letter-spacing: -0.002em;
  text-decoration-line: underline;
  color: #ff7506;
  width: 116px;
  padding-left: 60px;
}

.role-update-link-table:hover {
  text-decoration-line: underline;
  color: #ff7506;
}
